<!DOCTYPE html>
<html lang="ko">
<html>
  <head>
    <meta charset="UTF-8">
    <title>BikeRoute</title>
    <link rel='stylesheet' href='/stylesheets/mapstyle.css'/>
  </head>
  <body>
    <nav>
      <div class="container">
        <input id="responsive-menu" type="checkbox">
        <label for="responsive-menu"><div id="text"><a href="/index">BikeRoute</a></div><span id="menu-icon"></span></label>
        <div id="overlay"></div>
        <ul>
            <li><a href="/map">지도보기</a></li>
            <li><a href="/routeSet">경로설정</a></li>
            <li><a href="/viewPoint">뷰포인트</a></li>
            <li><a href="http://www.roverp6cars.com/">주행기록</a></li>
            <li><a href="http://www.irishwrecksonline.net/">커뮤니티</a></li>
            <li><a href="http://www.arngren.net/">설정</a></li>
        </ul>
      </div>
  </nav>
    
    <main>
        <div class="container">
            <h1>Responsive Menu</h1>
            <p>This responsive menu was made with just HTML and CSS.</p>
            <p>The menu list was inspired by <a href="https://blog.rankingbyseo.com/bad-websites/">Bad Websites Examples: Top 50 Worst Websites Designs That Will Make You Cringe!</a> by <a href="https://www.rankingbyseo.com/">Ranking by SEO</a>. I'm very happy to see that <a href="http://spacejam.com/">Space Jam</a> was not on the list. It holds a special place in my heart.</p>
        </div>
    </main>
  </body>
</html>

